@import "../../../assets/style/variables";
@import "../../../assets/style/mixins";

.vie-icon-text-container {
  display: flex;
  column-gap: 0.366vw;

  div:first-child {
    width: 1.76vw;
    height: 1.76vw;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;

      path {
        fill: $brown;
      }
    }
  }

  div:last-child {
    @include useFontStyle($fs: $normal-fs-vw)
  }
}

.vie-back-to-main-container {
  display: block;
  width: 100%;
  padding: 0.667vw 1.917vw;
  background: rgba(245, 248, 247, 0.10);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 33;
  text-decoration: none;
  .back-to-main-inner-container {
    display: flex;
    column-gap: 0.417vw;
    @include useFontStyle($fc: $white, $fs: $sm-fs-vw);
    align-items: center;
    svg{
      width: 1.333vw;
      height: 1.333vw;
      object-fit: contain;
    }
  }
}
