
$white: rgba(255, 255, 255, 1);
$black: rgba(24, 29, 35, 1);
$beige: rgba(245, 240, 234, 1);
$brown: rgba(140, 82, 58, 1);
$gray-207: rgba(207, 210, 209, 1);
$white-217: rgba(217, 217, 217, 1);
$dark-19: rgba(19, 19, 18, 1);
$crystal-dark: rgba(0, 0, 0, 0.35);
$crystal-white: rgba(245, 240, 234, 0.15);
$blue-162: rgba(162, 217, 247, 1);
$linearGradient: rgba(255, 255, 255, 1), rgba(245, 240, 234, 1), rgba(245, 240, 234, 1);


//12px 16px 64px 128px 96px 48px
$sm-fs-vw: 1vw;
$normal-fs-vw: 1.333vw;
$md-fs-vw: 4vw;
$l1-fs-vw: 5.333vw;
$l2-fs-vw: 8vw;
$l3-fs-vw: 10.667vw;

$sm-fs-px: 12px;
$normal-fs-px: 16px;
$md-fs-px: 48px;
$l1-fs-px: 64px;
$l2-fs-px: 96px;
$l3-fs-px: 128px;

