@import "../../../../assets/style/variables";
@import "../../../../assets/style/mixins";

.vie-main-container{
  width: 100%;
  height: 70vw;
  .main-inner-container{
    width: 100%;
    height: 45vw;
    background-color: $black;
    position: relative;
  }
  .main-content{
    width: 100%;
    position: absolute;
    top: 13vw;
    display: grid;
    grid-row-gap: 1.2vw;
  }
  .main-title{
    width: 84vw;
    margin: auto;

    h1{
      @include useFontStyle($ff: 'Prata', $fs: $md-fs-vw, $fc: $beige);
      opacity: 0.75;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .main-cta{
    width: fit-content;
    margin: auto;
    button{
      padding: 1.25vw 2.5vw;
      border-radius: 100px;
      border: 0.1vw solid $white;
      background-color: transparent;
      cursor: pointer;
      transition: .3s ease-in-out;
      box-sizing: border-box;
      &:hover{
        padding: 1.25vw 3.5vw;
        background-color: $white;
        color: $black;
      }
      @include useFontStyle($fc: $white)
    }
  }

  .main-figure{
    position: absolute;
    width: 93.333vw;
    height: 35.5vw;
    bottom: -24vw;
    left: 3.333vw;
    background-image: url("../../../../assets/image/vie-main-figure.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-figure-inner-container{
    width: 100%;
    height: 100%;
    position: relative;
    >button{
      width: 14.75vw;
      height: 4.5vw;
      @include disableDefaultButtonStyle();
      position: absolute;
      top: -1.9vw;
      left: 50%;
      transform: translateX(-50%);
      transition: .3s ease-in-out;
      .scroll-fluid{
        width: 100%;
        height: 100%;
        svg{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .scroll-arrow{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:0;
        display: grid;
        justify-content: center;
        align-items: center;
        svg{
          width: 1.167vw;
          height: 1.833vw;
          animation: _arrow_as_spring infinite 1.5s ease-in-out;
        }
      }
    }
  }
}

@keyframes _arrow_as_spring {
  0%{
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(-50%);
  }
}