@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';


.vie-header-container{
  position: fixed;
  top:4.167vw;
  left: 0;
  right: 0;
  background-color: $black;
  z-index: 99999;
  transition: .1s ease-in-out;

  .header-grid{
    display: flex;
    width: 94vw;
    margin: auto;
    align-items: center;
    column-gap: 5vw;
  }
  .header-logo-block{
    width: 9.167vw;
    flex-shrink: 0;
  }
  .header-logo{
    display: block;
    height: 2.1vw;
    width: auto;
    >svg{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .header-nav-container{

    width: 100%;
    @include useFontStyle($fc: $beige);

    .flexible-nav-container{
      display: flex;
      column-gap: 5vw;
      align-items: center;
    }

    .header-menu-list{
      display: flex;
      column-gap: 2vw;
      a{
        text-decoration: none;
        color: $beige;
        opacity: 0.5;
      }
    }

    .header-menu-action-block{
      display: flex;
      column-gap: 1.4vw;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .header-lang-select-block{
      text-transform: uppercase;
      position: relative;
      .current-lang{
        display: flex;
        align-items: center;
        div:last-child{
          cursor: pointer;
          width: 2vw;
          height: 2vw;
          svg{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .lang-options{
        position: absolute;
        top: 102%;
        left: 0;
        width: 100%;
        background-color: $black;
        >div{
          width: 100%;
          padding: 0.2vw 0;
          cursor: pointer;
          &:hover{
            color: $brown;
          }
        }
      }
    }


  }
}


.vie-header-container.header-in-scroll{
  top:0;
  padding: 1vw 0;
}